.app-download {
    font-size: max(3vw,20px);
    font-weight: 500;
    margin: auto auto;
    margin-top: 100px;
    text-align: center;
}

.app-download-platforms {
    display: flex;
    gap: max(2vw,10px);
    justify-content: center;
    margin-top: 40px;
}

.app-download-platforms img {
    cursor: pointer;
    max-width: 180px;
    transition: 0.5s;
    width: man(30vw,120px);
}

.app-download-platforms img:hover {
    transform: scale(1.05);
}