.header {
    background: url('/header_img.png') no-repeat;
    background-size: contain;
    border-radius: 20px;
    height: 34vw;
    margin: 30px auto;
    position: relative;
}

.header-contents {
    align-items: start;
    animation: fadeIn 3s;
    bottom: 10%;
    display: flex;
    flex-direction: column;
    left: 6vw;
    gap: 1.5vw;
    max-width: 50%;
    position: absolute;
}

.header-contents h2 {
    color: #ffffff;
    font-size: max(4.5vw, 22px);
    font-weight: 500;
}

.header-contents p {
    color: #ffffff;
    font-size: 1vw;
}

.header-contents button {
    background-color: #ffffff;
    border: none;
    border-radius: 50px;
    color: #121111;
    font-size: max(1vw, 13px);
    font-weight: 500;
    padding: 1vw 2.3vw;
}

@media (max-width: 1050px) {
    .header-contents {
        max-width: 45%;
    }
}

@media (max-width: 750px) {
    .header-contents {
        max-width: 65%;
    }

    .header-contents p {
        display: none;
    }

    .header-contents button {
        padding: 2vw 4vw;
    }
}